{% if (currencies|length) > 1 %}
    <div class="dropdown w-full flex-1" data-align="center">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">
            <p id="dropdownButton" class="dropdown-button">
                {{ text_currency }}
            </p>

            <div id="dropdownMenu" class="dropdown-menu">
                {% for currency in currencies %}
                    {% if currency.symbol_left %}
                        <button class="dropdown-item" type="button" name="{{ currency.code }}">
                            {{ currency.symbol_left }} {{ currency.title }}
                        </button>
                    {% else %}
                        <button class="dropdown-item" type="button" name="{{ currency.code }}">
                            {{ currency.title }} {{ currency.symbol_right }}
                        </button>
                    {% endif %}
                {% endfor %}
            </div>
            <input type="hidden" name="code" value="" />
            <input type="hidden" name="redirect" value="{{ redirect }}" />
        </form>
    </div>
{% endif %}
