{% if languages|length > 1 %}
<div class="dropdown w-full flex-1" data-align="center">
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
      <p id="dropdownButton" class="dropdown-button">
        {{ text_language }}
      </p>
        <div id="dropdownMenu" class="dropdown-menu">
            {% for language in languages %}
            <button class="dropdown-item" {% if language.code == code %}selected{% endif %} onclick="location = '{{ language.href }}'">{{ language.name }}</button>
            {% endfor %}
        </div>
        <input type="hidden" name="code" value="" />
        <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
</div>
{% endif %}
