<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
    <head>
        {{ head }}
    </head>
    <body>
        {{ header }}

        {% block content %}

        {% endblock %}

        {{ footer }}
    </body>
</html>
