<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}" class="{{ theme }}">
    <head>
        {{ head }}
        {{ microdata.head }}
    </head>
    <body>
        {{ header }}

        {{ content }}

        {{ footer }}

        {{ microdata.body }}
    </body>
</html>
