<div id="carousel-{{ module }}" class="slider">
    <div class="slider-track">
        {% for banner in banners %}
            <div class="slider-slide flex justify-center shrink-0 w-1/5 px-1">
                {% if banner.link %}
                    <a href="{{ banner.link }}">
                        <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
                    </a>
                {% else %}
                    <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="slider-controls mt-4 flex gap-2 justify-end">
    <button id="carousel-prev-{{ module }}" class="button-secondary icon">
        <svg aria-hidden="true" viewBox="0 0 24 24">
            <use href="/assets/icons/sprite.svg#icon-chevron-left"></use>
        </svg>
    </button>
    <button id="carousel-next-{{ module }}" class="button-secondary icon">
        <svg aria-hidden="true" viewBox="0 0 24 24">
            <use href="/assets/icons/sprite.svg#icon-chevron-right"></use>
        </svg>
    </button>
</div>

{# prettier-ignore-start #}
<script type="module">
    import EmblaCarousel from 'https://cdn.skypack.dev/embla-carousel';

    const emblaNode = document.getElementById('carousel-{{ module }}');
    if (emblaNode) {
        const embla = EmblaCarousel(emblaNode, { loop: true });

        document.getElementById('carousel-prev-{{ module }}')?.addEventListener('click', () => embla.scrollPrev());
        document.getElementById('carousel-next-{{ module }}')?.addEventListener('click', () => embla.scrollNext());
    }
</script>
{# prettier-ignore-end #}
